:root {
    box-sizing: border-box;
    /* 16px for 1440*/
    /* font-size: calc(1vw + 0.10em); */
    font-size: calc(1vw + 0.6em);

    --min-width: 1080px;
    --base-color: rgb(51, 90, 233);
    --title-color: rgb(12, 181, 223);
    --base-font: Georgia, 'Times New Roman', Times, sans-serif;
}