/* start null style  */
* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active {
    /* outline: none; */
}

a:focus,
a:active {
    /* outline: none; */
}

html,
body {
    height: 100%;
    /* min-width: $minWidth + px; */
}

body {
    /* color: $mainColor; */
    line-height: 1;
    /* font-family: $fontFamily; */
    /* font-size: $fontSize; */
    /* //text-rendering: optimizeLegibility; */
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
    /* font-family: $fontFamily; */
    font-size: inherit;
}

button {
    cursor: pointer;
    color: inherit;
    background-color: inherit;
}

a {
    color: inherit;
}

a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

/* Fix slaider */
* {
    min-width: 0;
}

/* end null style  */
body {
    font-size: 16px;
}

.wrapper {
    /* border-image: url(/image/bg/gory_ozero_vershiny_129263_2560x1600.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; */
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

img.background {
    position: fixed;
    z-index: -1;
    min-height: 100%;
    min-width: 640px;
    width: 100%;
    height: auto;

    top: 0;
    left: 0;
}

.weather-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid;
    border-radius: 0.5em;
    max-width: 100vw;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}

.weather-block__title {
    font-size: 1.5em;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgb(66, 137, 176);
}

.weather-block__main {
    min-width: 43.7em;
    max-width: 100vw;
    text-align: center;
}

.main-weather {}

.main-weather__units-selection {}

.main-weather__units-selection-option span {}



.main-weather__out {}

.out__select-wrapper {
    border-radius: 0.5em;
    display: inline-block;
    overflow: hidden;
    background: #cccccc;
    border: 0.1em solid;
    box-shadow: 0 0 0.2em rgb(14, 74, 106);
    transition: box-shadow 0.5s ease-out;
}

.out__select-wrapper:hover {
    box-shadow: 0 0 10px 100px #1882A8 inset;

}

.main-weather__city-selection {}

select {
    height: 40px;
    border: 0px;
    outline: none;
    padding: .4em 0em .5em 0em;
    margin: 0 auto;
    font-size: 1.1em;
    color: rgb(14, 74, 106);
}


.out {
    width: 100%;
}

.out__icon-temp-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 10em;
    margin: 0 auto;
}

.out__icon {}

.out__temp {
    color: rgb(32, 111, 154);
    font-size: 2.5em;
}

.out__name-city {
    font-size: 1.2em;
    color: rgb(96, 96, 247);
}

.out__data {
    font-size: 1.2em;
}

.out__description {}

.out__wind-deg {}

.out__wind-speed {}

.out__pressure {}



.out__open-spoiler {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
}

.out__open-spoiler::before,
.out__open-spoiler::after {
    content: '';
    width: 10px;
    height: 1px;
    background-color: #000;
    position: absolute;
    top: 9px;
    transition: transform 0.3 ease 0s;
    overflow: hidden;
}

.out__open-spoiler::before {
    transform: rotate(40deg);

    left: 0;
}

.out__open-spoiler::after {
    transform: rotate(-40deg);
    left: 8px;
}

.spoiler__item {}



.main-weather__spoiler {
    border: 3px solid rgba(175, 74, 195, 0.5);
    border-radius: 0.4rem;
    padding: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    border: 2px solid red;
    transition: height 0.3s step-end;
}

/* .spoiler-open */
.main-weather__spoiler>.is-open {
    display: flex;

}

.spoiler__item {
    text-align: center;
}

.spoiler__block-tmp {
    display: flex;
    align-items: center;

}

.spoiler__icon {}